node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
.vite
.turbo
.tmp
.bin
.env
.env.*
.git
.github
.vercel
*.log

**/*.test.ts
**/*.test.tsx
examples
tests
playwright-report
test-results
upload
**/*.pem
**/*.key
**/*.p12
**/*.pfx

**/*.env
**/*.env.*
